* {
    box-sizing: border-box;
}

:root {
    --primary-colour: rgb(168, 25, 25);
}

body {
    background: #ebebeb;
    font-family: sans-serif;
    
}

h1 {
    padding: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

label {
    display: block;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form > div {
    margin-bottom: 1rem;
}

form input {
    width: 100%;
    padding: 0.4rem;
}


.menu a {
    text-decoration: none;
    color: #333;
    padding-right: 1rem;
}

.menu a.active {
    color: var(--primary-colour);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}

.product {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    
}

.message {
    width: 100%;
    padding: 1rem;
    border: 1px solid grey;
    color: grey;
}

.message.error {
    border-color: red;
    color: white;
    background: red;
}

.message.warning {
    border-color: orange;
    color: white;
    background: orange;
}

.message.success {
    border-color: green;
    color: white;
    background: green;
}


.product__img{
    width: 100%;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    height: 40px;
    background: var(--primary-colour);
    border: none;
    color:  white;
    cursor: pointer;
}

.btn:hover{
    background: rgb(168, 25, 25, 0.7);
    color: white
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid var(--primary-colour); /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.product i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
}

.product i.fa {
    color: darkred;
}

.product i:hover{
    cursor: pointer;
}